<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="nav">
        <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/inicio}"><img id="logo" th:src="@{/images/logo.png}"></a>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Datos
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto overflow-hiden">
                        <li class="nav-item">
                            <form action="/inicio/listaTrabajador/nuevo" method="post">
        						<button type="submit" class="btn"><img th:src="@{/images/trabajador.png}">Trabajador</button>
    						</form>
                        </li>
                        <li class="nav-item">
    						<form action="/inicio/listaCliente/nuevo" method="post">
        						<button type="submit" class="btn"><img th:src="@{/images/cliente.png}">Cliente</button>
    						</form>
						</li>
                        <li class="nav-item">
                            <form action="/inicio/listaVehiculo/nuevo" method="post">
        						<button type="submit" class="btn"><img th:src="@{/images/coche.png}">Vehículo</button>
    						</form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img th:src="@{/images/pieza.png}">Producto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img th:src="@{/images/parte.png}">Parte Vehículo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img th:src="@{/images/factura.png}">Factura</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img th:src="@{/images/monigotebase.png}"> 
                                <sec:authorize url="/inicio/listaTrabajador/">Administrador</sec:authorize>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Ajustes</a></li>
                                <li><a class="dropdown-item" href="#">Acerca de</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <form th:action="@{/index}" method="POST" id="logoutForm"></form>
                                <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><img id="salir" th:src="@{/images/salir.png}"> Cerrar sesión</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="collapse" id="collapseExample">
            <aside>
                <!--<div>
                    <input type="search" name="busquedaAccion" placeholder="Ver lista de...">
                    <input type="submit" value="Buscar">
                    
                </div>-->
                <ul class="list-group d-flex">
                    <a th:href="@{/inicio/listaCliente/}"><li class="list-group-item">Clientes</li></a>
                    <li class="list-group-item">Vehículos</li>
                    <li class="list-group-item">Productos</li>
                    <a th:href="@{/inicio/listaTrabajador/}"><li class="list-group-item">Trabajadores</li></a>
                    <li class="list-group-item">Facturas</li>
                    <li class="list-group-item">Proveedores</li>
                    <li class="list-group-item">Partes</li>
                </ul>
            </aside>
        </div>
    </div>
</body>
</html>