<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="nav" id="navegador">
        <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/inicio}"><img id="logo" th:src="@{/images/logo.png}"></a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto overflow-hiden">
						<li class="nav-item">
                            <a class="nav-link" th:href="@{/inicio/listaProveedor/}"><img th:src="@{/images/proveedor.png}">Proveedor</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link" th:href="@{/inicio/listaTrabajador/}"><img th:src="@{/images/trabajador.png}">Trabajador</a>
                        </li>
                        <li class="nav-item">
    						<a class="nav-link" th:href="@{/inicio/listaCliente/}"><img th:src="@{/images/cliente.png}">Cliente</a>
						</li>
                        <li class="nav-item">
    						<a class="nav-link" th:href="@{/inicio/listaVehiculo/}"><img th:src="@{/images/vehiculo.png}">Vehiculo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/inicio/listaProducto/}"><img th:src="@{/images/producto.png}">Producto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/inicio/listaParte/}"><img th:src="@{/images/parte.png}">Parte Vehículo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/inicio/factura/}"><img th:src="@{/images/factura.png}">Factura</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img th:src="@{/images/cliente.png}"> 
                                <span sec:authorize="hasRole('ROLE_ADMIN')">Administrador</span>
                                <span sec:authorize="hasRole('ROLE_USER')">Usuario</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <form th:action="@{/index}" method="POST" id="logoutForm"></form>
                                <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><img id="salir" th:src="@{/images/salir.png}"> Cerrar sesión</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>