<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragmentos/head::head">
	<meta charset="utf-8">

</head>

<body class="main">

	<header>
		<div th:replace="~{fragmentos/nav::nav}">
		</div>
	</header>

	<div class="container mt-2 cuerpo">
		<div class="row">
			<div class="col-md-offset-1">
				<table class="table table-striped bg-light rounded-2">
					<thead>
						<form th:action="@{/inicio/listaTrabajador/nuevo}" method="POST">
							<button class="btn btn-primary mt-2 col-md-offset-1" type="submit" aria-expanded="false">
								<img th:src="@{/images/trabajadorMas.png}">
							</button>
						</form>
						<tr>
							<th>ID</th>
							<th>Fecha de Nacimiento</th>
							<th>DNI</th>
							<th>Nombre</th>
							<th>Apellidos</th>
							<th>Foto del Trabajador</th>
							<th>Admin</th>
							<th>usuario</th>
							<th>Operaciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="trabajador : ${trabajadores}">
							<td th:text="${trabajador.idTrabajador}"></td>
							<td th:text="${trabajador.fechaNacimiento}"></td>
							<td th:text="${trabajador.dni}"></td>
							<td th:text="${trabajador.nombre}"></td>
							<td th:text="${trabajador.apellidos}"></td>
							<td><img th:src="${not (#strings.isEmpty(trabajador.fotoTrabajador))} ? ${trabajador.fotoTrabajador} : 'http://placehold.it/48x48'"
									class="img-responsive icono-categoria" alt="imagen" /></td>
							<td th:text="${trabajador.isAdmin}"></td>
							<td th:text="${trabajador.username}"></td>
							<td class="operaciones">
								<span>
									<a href="#"
										th:href="@{/inicio/listaTrabajador/editar/{idTrabajador}(idTrabajador=${trabajador.idTrabajador})}"
										class="btn btn-primary"><img th:src="@{/images/editar.png}"></a>
									<a
									th:if="${trabajador.username} != ${#authentication.name}" 
									th:href="@{/inicio/listaTrabajador/borrar/{idTrabajador}(idTrabajador=${trabajador.idTrabajador})}"
										class="btn btn-danger" data-toggle="modal" data-target="#delete-modal"><img
											th:src="@{/images/borrar.png}"></a>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</body>
<footer th:replace="~{fragmentos/footer::footer}"></footer>
</html>