<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragmentos/head::head}">
</head>

<body class="main">
	<header>
		<div th:replace="~{fragmentos/nav::nav}">
		</div>
	</header>
	<div id="parte" class="container cuerpo">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<form method="post" action="#" id="form" th:action="@{/inicio/listaParte/nuevo/submit}" th:object="${parte}">
					<h1>
						<span th:text="${parte.idParte} ? 'Editar' : 'Nuevo'"></span>
						Parte
					</h1>
					<br>
					<br>
					<input type="hidden" th:field="*{idParte}" id="idParte" />
					<div class="form-group"> 
						<label for="matricula" class="col-md-4 control-label">Matrícula del vehículo</label>
						<select id="matricula" class="form-control" th:value="*{vehiculo.matricula}">
							<option th:each="vehiculo : ${vehiculos}" th:value="${vehiculo.matricula}"
									th:text="${vehiculo.matricula}">
								</option>
						</select>
					</div>
					<br>
					<div class="form-group"> 
						<label for="cliente" class="col-md-4 control-label">Cliente</label>
						<select id="cliente" class="form-control" th:field="*{cliente.codCliente}">
							<option th:each="cliente : ${clientes}" th:value="${cliente.codCliente}"
									th:text="${cliente.apellidos} + ', ' + ${cliente.nombre}">
								</option>
						</select>
					</div>
					<br>
					<div class="form-floating">
						<input type="number" min="0" class="form-control" id="tiempoEmpleado"
							placeholder="Tiempo empleado" th:field="*{tiempoEmpleado}" />
						<label for="tiempoEmpleado">Tiempo empleado</label>
					</div>
					<br>
					<div class="form-floating">
						<input type="date" class="form-control" id="fechaLlegada" placeholder="Fecha de llegada"
							th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
							th:field="*{fechaLlegada}" /><label for="fechaLlegada">Fecha de llegada del vehículo</label>
					</div>
					<br>
					<div class="form-floating">
						<input type="date" class="form-control" id="fechaSalida" placeholder="Fecha de salida"
							th:field="*{fechaSalida}">
						<label for="fechaSalida">Fecha de salida del vehículo</label>
					</div>
					<br>
					<div class="form-floating">
						<input class="form-control" type="text" id="observaciones" placeholder="Observaciones"
							th:field="*{observaciones}">
						<label for="observaciones">Observaciones</label>
					</div>
					<br>
					<button type="submit" class="btn btn-primary">
						<span th:text="${parte.idParte} ? 'Editar' : 'Agregar'"></span>
					</button>
				</form>
			</div>
		</div>
	</div>
	
</body>
<footer th:replace="~{fragmentos/footer::footer}"></footer>
</html>