<!DOCTYPE html>
<html>
<head th:replace="~{fragmentos/head::head}">
</head>
<body class="main">
	<nav th:replace="~{fragmentos/nav::nav}">
	</nav>
		<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<form method="post" action="#"
					th:action="@{/inicio/listaTrabajador/nuevo/submit}" th:object="${trabajador}">
					<h1>
						<span th:text="${trabajador.idTrabajador} ? 'Editar' : 'Nuevo'"></span>
						trabajador
					</h1>
					<input type="hidden" th:field="*{idTrabajador}" id="idTrabajador" />
					<div class="form-group">
						<label for="dni">Fecha de Nacimiento</label> <input type="date"
							class="form-control" id="fechaNacimiento" th:field="*{fechaNacimiento}" />
					</div>
					<div class="form-group">
						<label for="DNI">DNI</label> <input type="text"
							class="form-control" id="dni" placeholder="DNI"
							th:field="*{dni}" />
					</div>
					<div class="form-group">
						<label for="nombre">Nombre</label> <input type="text"
							class="form-control" id="nombre" placeholder="Nombre"
							th:field="*{nombre}">
					</div>
					<div class="form-group">
						<label for="apellidos">Apellidos</label> <input type="text"
							class="form-control" id="apellidos" placeholder="Apellidos"
							th:field="*{apellidos}">
					</div>
					<div class="form-group">
						<label for="fotoTrabajador">Foto del Trabajador</label>
						<input class="form-control" type="url" id="fotoTrabajador"
							placeholder="http://" value="https://robohash.org/" th:field="*{fotoTrabajador}"></input>
					</div>
					<div class="form-group">
						<label for="isAdmin"><input type="checkbox"
							value="false" id="isAdmin" th:field="*{isAdmin}" />
							Admin
						</label>
					</div>
					<br>
					<button type="submit" class="btn btn-primary">
						<span th:text="${trabajador.idtrabajador} ? 'Editar' : 'Agregar'"></span>
					</button>
				</form>
			</div>
		</div>
	</div>

	<!--jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</body>
</html>