<!DOCTYPE html>
<html>

<head th:replace="~{fragmentos/head::head}">
</head>

<body class="main">
	<nav th:replace="~{fragmentos/nav::nav}">
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<form method="post" action="#" th:action="@{/inicio/listaProveedor/nuevo/submit}"
					th:object="${proveedor}">
					<h1>
						<span th:text="${proveedor.idProveedor} ? 'Editar' : 'Nuevo'"></span>
						proveedor
					</h1>
					<input type="hidden" th:field="*{idProveedor}" id="idProveedor" />
					<br>
					<div class="form-floating">
						<input type="text" class="form-control" id="nombre" placeholder="Nombre" th:field="*{nombre}">
						<label for="nombre">Nombre</label>
					</div>
					<br>
					<div class="form-floating">
						<input type="text" class="form-control" id="direccion" placeholder="Dirección"
							th:field="*{direccion}" />
						<label for="referencia">Dirección</label>
					</div>
					<br>
					
					<div class="form-floating">
						<textarea class="form-control" id="descripcion"
							placeholder="Descripción" rows="3" th:field="*{descripcion}"></textarea>
						<label for="descripcion">Descripción</label>
					</div>
					<br>
					<button type="submit" class="btn btn-primary">
						<span th:text="${proveedor.idProveedor} ? 'Editar' : 'Agregar'"></span>
					</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>