body {
    background-image: url(@{/images/BackgroundSinLetras.png}) /*url(BackgroundSinLetras.png)*/;
}

img {
    width: 80px;
}

#logo {
    max-width: auto;
}

#salir {
    width: 20px;
}

nav {
    max-height: 20vh;
}