.login{
	background-image: url('../images/Background.png');
}

.main {
    background-image: url('../../images/BackgroundSinLetras.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    width: 80px;
}

#logo {
    max-width: auto;
}

#salir {
    width: 20px;
}

nav {
    max-height: 20vh;
}

.cuerpo img{
	width: 40px;
}