.login{
	background-image: url('../images/Background.png');
}

.main {
    background-image: url('../../images/BackgroundSinLetras.png');
}

img {
    width: 80px;
}

#logo {
    max-width: auto;
}

#salir {
    width: 20px;
}

nav {
    max-height: 20vh;
}