<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragmentos/head::head}">
</head>

<body class="login">

    <div class="d-flex align-items-center justify-content-center vh-100">
        <form class="bg-light col-md-8 border border-5 p-5 my-2" method="POST" action="#" th:action="@{/index}">
            <h1>Log in</h1>
            <fieldset>
                <div class="mb-3 mt-3">
                    <label for="username" class="col-md-4">Usuario:</label>
                    <input type="text" class="form-control col-md-8" id="username" placeholder="Nombre de usuario"
                        name="username" required autofocus>
                </div>
                <div class="mb-3 mt-3">
                    <label for="password">Contraseña:</label>
                    <input type="password" class="form-control" id="password" placeholder="Contraseña de usuario"
                        name="password" required>
                </div>
            </fieldset>
            <input type="submit" value="Acceder" name="enviar">
        </form>
    </div>
    
</body>
<footer th:replace="~{fragmentos/footer::footer}"></footer>
</html>