<!DOCTYPE html>
<html lang="es">

<head th:replace="~{fragmentos/head::head}">
    <style>
        body {
            background-image: url(Background.png);
        }
    </style>
</head>

<body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <form class="bg-light col-md-8 border border-5 p-5 my-2">
            <h1>Log in</h1>
            <fieldset>
                <div class="mb-3 mt-3">
                    <label for="usuario" class="col-md-4">Usuario:</label>
                    <input type="text" class="form-control col-md-8" id="usuario" placeholder="Nombre de usuario"
                        name="usuario" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="contrasenna">Contraseña:</label>
                    <input type="password" class="form-control" id="contrasenna" placeholder="Contraseña de usuario"
                        name="contrasenna" required>
                </div>
            </fieldset>
            <input id="boton" type="submit" value="Acceder">
        </form>
    </div>
</body>

</html>