<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragmentos/head::head">
	<meta charset="utf-8">

</head>

<body class="main">

	<nav th:replace="/fragmentos/nav::nav">
	</nav>

	<div class="container mt-2 cuerpo">
		<div class="row">
			<div class="col-md-offset-1">
				<table class="table table-striped bg-light rounded-2">
					<thead>
						<form th:action="@{/inicio/listaProducto/nuevo}" method="POST">
							<button class="btn btn-primary mt-2 col-md-offset-1" type="submit"
								aria-expanded="false">
								<img th:src="@{/images/productoMas.png}">
							</button>
						</form>
						<tr>
							<th>Referencia</th>
							<th>ID del proveedor</th>
							<th>Nombre</th>
							<th>Precio</th>
							<th>PVP</th>
							<th>Descripción</th>
							<th>Operaciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="producto : ${productos}">
							<td th:text="${producto.referencia}"></td>
							<td th:text="${producto.idProveedor}"></td>
							<td th:text="${producto.nombre}"></td>
							<td th:text="${producto.precio}"></td>
							<td th:text="${producto.pvp}"></td>
							<td class="operaciones">
								<span>
								<a href="#"
									th:href="@{/inicio/listaProducto/editar/{idTrabajador}(idTrabajador=${trabajador.idTrabajador})}"
									class="btn btn-primary"><img th:src="@{/images/editar.png}"></a>
								<a th:href="@{/inicio/listaTrabajador/borrar/{idTrabajador}(idTrabajador=${trabajador.idTrabajador})}"
									class="btn btn-danger" data-toggle="modal" data-target="#delete-modal"><img th:src="@{/images/borrar.png}"></a>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>

</html>