<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragmentos/head::head">
	<meta charset="utf-8">

</head>

<body class="main">
	<header>
		<div th:replace="~{fragmentos/nav::nav}">
		</div>
	</header>

	<div class="container mt-2 cuerpo">
		<div class="row">
			<div class="col-md-offset-1">
				<table class="table table-striped bg-light rounded-2">
					<thead>
						<form th:action="@{/inicio/listaVehiculo/nuevo}" method="POST">
							<button class="btn btn-primary mt-2 col-md-offset-1" type="submit" aria-expanded="false">
								<img th:src="@{/images/vehiculoMas.png}">
							</button>
						</form>
						<tr>
							<th>Matrícula</th>
							<th>Tipo de vehículo</th>
							<th>Numero de Bastidor</th>
							<th>Marca</th>
							<th>Modelo</th>
							<th>Operaciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="vehiculo : ${vehiculos}">
							<td th:text="${vehiculo.matricula}"></td>
							<td th:text="${vehiculo.tipoVehiculo}"></td>
							<td th:text="${vehiculo.bastidor}"></td>
							<td th:text="${vehiculo.marca}"></td>
							<td th:text="${vehiculo.modelo}"></td>
							<td class="operaciones">
								<a href="#"
									th:href="@{/inicio/listaVehiculo/editar/{matricula}(matricula=${vehiculo.matricula})}"
									class="btn btn-primary">
									<img th:src="@{/images/editar.png}"></a>
								<a th:href="@{/inicio/listaVehiculo/borrar/{matricula}(matricula=${vehiculo.matricula})}"
									class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">
									<img th:src="@{/images/borrar.png}"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</body>
<footer th:replace="~{fragmentos/footer::footer}"></footer>
</html>