<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragmentos/head::head">
	<meta charset="utf-8">

</head>

<body class="main">

	<nav th:replace="/fragmentos/nav::nav">
	</nav>

	<div class="container mt-2 cuerpo">
		<div class="row">
			<div class="col-md-offset-1">
				<table class="table table-striped bg-light rounded-2">
					<thead>
						<form th:action="@{/inicio/listaProveedor/nuevo}" method="POST">
							<button class="btn btn-primary mt-2 col-md-offset-1" type="submit"
								aria-expanded="false">
								<img th:src="@{/images/proveedorMas.png}">
							</button>
						</form>
						<tr>
							<th>ID del proveedor</th>
							<th>Nombre</th>
							<th>Dirección</th>
							<th>Descripción</th>
							<th>Operaciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="proveedor : ${proveedores}">
							<td th:text="${proveedor.idProveedor}"></td>
							<td th:text="${proveedor.nombre}"></td>
							<td th:text="${proveedor.direccion}"></td>
							<td th:text="${proveedor.descripcion}"></td>
							<td class="operaciones">
								<a href="#"
									th:href="@{/inicio/listaProveedor/editar/{idProveedor}(idProveedor=${proveedor.idProveedor})}"
									class="btn btn-primary"><img th:src="@{/images/editar.png}"></a>
								<a th:href="@{/inicio/listaProveedor/borrar/{idProveedor}(idProveedor=${proveedor.idProveedor})}"
									class="btn btn-danger" data-toggle="modal" data-target="#delete-modal"><img th:src="@{/images/borrar.png}"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>